<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Node JS Machine Test</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4 text-start">
      1. HTML Page - Category Master with CRUD operations <br />
      2. HTML Page - Product Master with CRUD operations. A product belongs to a
      category. <br />
      3. The product list should display ProductId, ProductName, CategoryName,
      CategoryId. <br />
      <br />
      The product list should have pagination on the server side, which means
      extract records from DB as per the page size on the view. <br />So if the
      page size is 10 and the user is on page 9 then pull only records from 90 -
      100.
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a
        href="categories"
        type="button"
        class="btn btn-primary btn-md px-4 gap-3"
      >
        Lets Begin !
      </a>
    </div>
  </div>
</div>
